{{template "base.html" . }}
{{define "title"}}
{{.title}}
{{end}}

{{define "content"}}
	<div style="height:10rem">
		
	</div>
	<div class="layui-row" >
		<div class="layui-col-xs6 layui-col-xs-offset3">
			<div class="center" style="height:10rem">
				<a href="/student" target="_self" class="layui-btn">信息登记</a>
				<br></br>
			</div>

<br></br>

			</div>
		</div>
	</div>

<div class="layui-row">
	<div class="layui-col-md6 layui-col-md-offset3 layui-col-xs10 layui-col-xs-offset1">
<div class="" style="font-size:1.2rem; background-color:white;line-height:2rem;">
<div class="layui-card">
  <div class="layui-card-header">提示</div>
  <div class="layui-card-body">
	填写信息并付款后,发车前2-3天以短信形式告知订票人具体乘车时间地点等信息。
发车日期当天满10人即可发车，若不足10人则在发车前三天与订票人联系。
  </div>
</div>
</div>
		
	</div>
	
</div>

{{end}}
